# Ignore image
*.png

# Executables
load/load_SSE_AVX
store/store_SSE_AVX
ntstore/ntstore_SSE_AVX
copy/copy_SSE_AVXX
memcpy/memcpy
pc/pc
reduc/reduc_SSE_AVX
dotprod/dotprod_SSE_AVX
triad/triad_SSE_AVX
